#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens33 --gateway=10.2.6.1 --ip=10.2.6.165 --netmask=255.255.254.0 --nameserver=10.14.1.10,10.11.0.51 --ipv6=auto --activate
network  --hostname=CIT470-001-Server-clarkr23.hh.nku.edu

# Root password
rootpw --iscrypted $6$4ZYDBuwkbKafTKWC$JBz3KQh3zHdeHRlry6CrvB7Hbwdmhgmul3N47XEt1pWQFJRtJ0neYr8TxGJIQsR6ZIbyvGChn/vOBaF7rze.M/
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part swap --fstype="swap" --ondisk=sda --size=1024
part /var --fstype="xfs" --ondisk=sda --size=1024
part / --fstype="xfs" --ondisk=sda --size=4096

reboot

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --log=/root/kickstart.log

yum -y update

yum -y install net-tools

useradd -c "Randy Clark" -s /bin/bash -d /home/clarkr -m clarkr -p '$6$oETU7r5i$1jmFSBWWxiw7vu8N7Eed5w97SpjjpOs01cHmE8Dx43TQvbh0RIVecUHbEXW3KTJnR8xGe7dUIWsdbIVFgd5iu0'

useradd -c "Test User" -s /bin/bash -d /home/test -m test -p '$6$E1dbtsAs$4QUW2TQyPHzD4JcIogseFramf86OFZYeUrfZjQYyxjU1KKx0MumXKbPDmPrHwrmAVcijIYvlrrZzh.aeNbxu81'

echo -e 'alias ll=\'ls -alF\'\nexport PATH=$PATH:/sbin:/usr/sbin' >> /home/clarkr/.bashrc

echo -e 'alias ll=\'ls -alF\'\nexport PATH=$PATH:/sbin:/usr/sbin' >> /home/test/.bashrc

%end
